.git
.github
.changeset
.next
out
node_modules
src
public
*.md
*.json
!content/portfolio.json
next.config.ts
postcss.config.mjs
eslint.config.mjs
tsconfig.json
components.json
pnpm-lock.yaml
pnpm-workspace.yaml
